doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet", href="style.scss")
        link(rel="stylesheet", href="schedule.scss")
    body
        div(class='container')
            div(class='head') Shedule

            include schedule.pug
        script(src="main.js")
            